body {
  overflow-x: hidden
}
html {
  overflow-x: hidden;
}
.container-wide {
  width: 99%;
}

#about {
    padding-top: 100px;
}
#about .img-container {
  height: 70px;

}
#about .img-container img {
  width: 100%;
  max-height: 50px;

}

#timeline {
  margin-top: -300px;
  margin-bottom: 150px;
}

.partners-container {
  width: 100%;
}

#player-wrapper {
	position: fixed;
	z-index: -99;
	filter: sepia(100%);
	-webkit-filter: sepia(100%);
	background: black;
	opacity: 0.2;
}

#player {
	position: fixed;
	z-index: -99;
	display: none;
}

#typeform-full {
  display: none;
  width: 100%;
  height: 600px;
}

#gadgets .img-responsive {
  max-height: 150px;
  margin-top: 100px;
}

.social-buttons-list {
  clear: both;
}
#partners .organisational {
  padding-top: 0px;
}

#partners .container {
  margin-top: 30px;
  padding: 30px 0;
  text-align: center;
}

#partners .img-responsive {
  margin: 20px 0;
  max-width: 90%;
}


.organizer {
  float: left;
  display: block;
  margin: 30px 0;
  text-align: center; }
  .organizer img {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    position: relative; }
  .organizer h2 {
    margin-top: 15px;
    margin-bottom: 0;
    margin-right: 0;
    height: 50px; }
  .organizer ul {
    display: block;
    margin: 20px 0px;
    padding: 0px 5%;
    list-style: none; }
  .organizer li {
    padding: 10px 0px;
    text-align: justify; }

  .organizer-description {
    height: 200px;
  }


.team {
  position: relative;
  z-index: 10;
  padding: 67px 0px 30px 0px;
  color: white;
  background-color: black;
  width: 100%;
  zoom: 1; }
  .team:before, .team:after {
    content: "";
    display: table; }
  .team:after {
    clear: both; }

    /*HACKATHONS*/
    #hackathons .img-container {

      height: 150px;
    }


  /* WINNERS */

    #winners {
        background-color: rgba(0,0,0,.5);
        width: 100%;
        height: 100%;
    }
    .clear {
        clear: both;
    }
    .prize-header-container {
        position: relative;
        height: 500px; 
        z-index: 0;
        padding: 100px 0px 50px 0px;
        overflow: hidden;
    }
    .prize-header-text {
        width: 100%;
        height: 100%;
        vertical-align: bottom;
        text-align: center;
        color: black;
        font-size: 4em;
       -webkit-text-stroke-width: 2px;
       -webkit-text-stroke-color: white;
    }
    .prize-img {
        background-size: cover; 
        background-position: 100% 100%;
    }
    .prize-header-img {
        background-image: url(../img/2015/hacktrain-2015-winners.jpg);
        height: 100%;
        width: 100%; 
        background-size: cover; 
        background-position: 100% 20%;
        filter: blur(5px);
        -webkit-filter: blur(3px);
        position: absolute;
        top: 0px;
        bottom: 0px;
        z-index: -1;
    }
    .prize-description {
        text-align: center;
    }


  body {
    font-family: Ubuntu;
  }
  section {
    clear: both;
  }
  #schedule {
    margin-bottom: 100px;
  }
  #schedule .tab-content .col-md-3 {
    border-top: 5px solid white;
    padding: 20px;
  }
  #schedule .tab-content .col-md-9 {
    border-top: 1px solid gray;
    padding: 20px;
  }
  #schedule .tab-content .title {
    font-size: 25px;
  }
  #schedule .tab-content .subtitle {
    font-size: 15px;
  }
  #schedule .tab-content p {
    margin-bottom: 0px;
  }
  #schedule .tab-content .time {
    font-size: 15px;

  }
  #schedule .schedule-title {
    margin: 30px 0px 30px 0px;
    text-align: center;
  }
  li[role="presentation"] {
    text-align: center;
    padding: 0px 0px 0px 0px;
  }


section[name="prizes"] {

  -moz-transform: scale(0.9999);
  border-bottom: 90px solid transparent;
  border-top: 90px solid transparent;
  box-sizing: content-box;
}

section[name="prizes"] h1 {
  text-align: center;
}

section[name="prizes"] h4 {
  padding: 30px 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
}

section[name="prizes"] img {
  background-color: #383838;
  border-radius: 50%;
  border: 1px solid #383838;
}

section[name="prizes"] .gadget {
  padding-bottom: 25px;
}

section[name="prizes"] .main img {
  width: 150px;
  height: 150px;
}

section[name="prizes"] .gadget img {
  width: 135px;
  height: 135px;
}

section[name="prizes"] p.name {
  font-weight: 600;
  margin-top: 10px;
}

section[name="prizes"] p.desc {
  font-weight: 300;
  font-size: 15px;
  max-width: 220px;
  opacity: 0.8;
}

#sponsor .img-container {
  height: 150px;
}